<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">


            <a class="navbar-brand" href="#" style="font-size: 20px; text-align: center;">Farmer Assistant Web Service</a>
        </div>

    </div>
</nav>

<body>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>LOG IN</mat-card-title>
            </mat-card-header>
            <div class="example-button-row">

                <button mat-raised-button color="primary" (click)="setBuyer()" *ngIf="buyer_btn">Buyer</button>
                <button mat-raised-button color="accent" (click)="setSupplier()" *ngIf="supplier_btn">Supplier</button>
            </div>
            <form class="example-form" (ngSubmit)="compareUserNameAndPassword()">

                <mat-card-content>
                    <mat-form-field>
                        <input name="u_name" [(ngModel)]="u_name" matInput placeholder="Email">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput name="p_word" type="password" [(ngModel)]="p_word" placeholder="Password">
                    </mat-form-field>
                </mat-card-content>
                <button type="submit" mat-stroked-button color="accent" class="btn-block">Log in</button>
                <!-- <a routerLink="/buyers"> <button mat-stroked-button color="accent" class="btn-block">Log in</button></a> -->
            </form>
            Not Registered ?
            <a routerLink="/register">Register!</a>
        </mat-card>

    </div>

</body>